@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Styles */
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:#f5f5f5ee; /* Dark Blue Shade */
    color: #FFFFFF;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Container Styles */
  .container {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 24px;
    width: 60vw;
    height: 70vh;
    max-width: 40vw;
    text-align: center;
    margin-top: 5rem;
  }
  
  h1 {
    font-size: 34px;
    color: #1E3A8A;
    margin-bottom: 24px;
  }
  
  label {
    display: block;
    font-size: 16px;
    color: #1E3A8A;
    margin-bottom: 8px;
    text-align: left;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    margin-bottom: 16px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  /* Button Styles */
  button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50; /* Light Green */
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45A049;
  }
  
  /* Balance Section */
  .balance-section {
    margin-top: 10px;
  }
  
  .balance-section p {
    font-size: 18px;
    color: #1E3A8A;
  }

/* Transaction History Container */
.transaction-history-container {
  background-color: #ffffff;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 840px;
  margin-top: 24px;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.mainPage{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Transaction History Heading */
.transaction-history-container h1 {
  font-weight: 700;
  color: #1E3A8A;
  margin-bottom: 16px;
  text-align: center;
}

  /* Transaction Table Styling */
.transaction-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  text-align: left;
  background-color: #f4f4f4;
}

.transaction-table th, 
.transaction-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

.transaction-table th {
  background-color: #4CAF50;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.transaction-table tr:nth-child(even) {
  background-color: #eaf0f8;
}

.transaction-table tr:hover {
  background-color: #d1e7f2;
}

.transaction-table td {
  color: #333;
}
